.footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #43bb73;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #0d6efd;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.2);
}
